<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">
  <div>
    <label for="username">Username</label>
    <input
      id="username"
      type="text"
      formControlName="username"
      autocomplete="username"
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      autocomplete="current-password"
    />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
