<aside class="sidebar">
  <nav>
    <ul>
      <li routerLink="/companies" routerLinkActive="active">🏢 My Companies</li>
      <li routerLink="/contacts" routerLinkActive="active">👤 Contacts</li>
      <li routerLink="/interactions" routerLinkActive="active">🤝 Interactions</li>
      <li routerLink="/rfps" routerLinkActive="active">📄 Offers</li>
      <li routerLink="/reports" routerLinkActive="active">📊 Reports</li>
      <li routerLink="/tasks" routerLinkActive="active">🗓️ My Tasks</li>
      <li routerLink="/settings" routerLinkActive="active">🛠️ Settings</li>
    </ul>
  </nav>
</aside>
